<article class="cta-block" data-id="cta-block">
    <div class="cta-block__container">
        <div class="cta-block__content">
            <h3 class="cta-block__title" data-id="cta-block-title">
                Sit Duis aliquip
            </h3>

            <p class="cta-block__description" data-id="cta-block-description">
                Example Description Text Duis ullamco ad reprehenderit laboris nisi laborum anim ullamco incididunt reprehenderit officia aute sunt reprehenderit.
            </p>

            <a href="#" class="cta-block__button" data-id="cta-block-button">
                Amet anim
            </a>
        </div>

        <figure class="cta-block__media">
            <img
                class="cta-block__image"
                src="/img/cta-change-the-world.jpg"
                alt="woman typing on a laptop"
                loading="lazy"
                decoding="async"
                data-id="cta-block-image"
            />
        </figure>
    </div>
</article>
